<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/bootstrap-5.0.0-beta/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body class="container-fluid">
<header>
    <%- include('../partials/nav'); %>
</header>

<main>
  <section>
    <div class="container-fluid">
      <div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <h2>Variable</h2>
<p> <%= JSON.stringify(test) %></p>

    </div>
  </div>
  <div class="col-12 d-flex justify-content-center score">
  </div>
  <%- include('../partials/game'); %>
  </div>
  </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script type="text/javascript">
    let test_data = <%- JSON.stringify(test) %>;
    let test = "Hello"
</script>
<script src= "/assets/bootstrap-5.0.0-beta/js/bootstrap.min.js"></script>
<script src="/assets/javascript/scripts.js"></script>
<script src="/assets/javascript/game.js"></script>

</body>
</html>
